$color_blue: #65feff;
$color_bdark: #a8b8c7;
$color_green: #7ae822;
$color_red: #bd205c;
$color_grey: #97a7ba;
$color_blue_2: #6bfbff;
$color_blue_white: rgb(218, 238, 249);
$color_pink: #ec1699;
$color_dark_green: rgb(61, 85, 49);
$color_th: rgb(57, 75, 95);
$color_dark_red: rgb(104, 47, 82);
$color_amountdart: rgb(87, 138, 139);
$light_blue: #72e4da;
$bg_amount: rgb(14, 30, 43);
$white: #fff;
$border_color: rgb(40, 84, 111);