<template>
    <div class="component-amount">
        <div class="amount-tabs">
            <div class="row margin0">
                <div v-for="tab in tabs" :class="{ 'active': tab.isActive, 'col-md-4' : true }" :key="tab.id">
                    <span @click="selectTab(tab)">{{ tab.name }}</span>
                </div>

            </div>
        </div>
        <div class="am-content" v-if="activeName === 'Market' ">
            <div class="row margin0">
                <div class="col-md-12 padding0">
                    <span class="free">FREE: 0.10%</span>
                </div>
            </div>
            <div class="row margin0">
                <div class="col-md-6 padding0">
                    <div class="am-amount">
                        <span class="amount-enter">Enter Amount</span>
                        <input type="text" v-model="top_amount">
                        <span class="btc">BTC</span>
                        <span class="amount-count">${{top_amount*topPercent/100}}</span>
                    </div>
                </div>
                <div class="col-md-6 padding0">
                    <div class="am-av-top">
                        <span class="av-avaliable">Avaliable for trading:</span>
                        <span class="av-count">$2,3456.70</span>
                    </div>
                    <div class="am-percents">
                        <ul class="am-top-percent">
                            <li v-for="item in top_percent" :key="item.id" @click="getPercent('top', item.val)"
                                :class="{ 'active': item.isActive}">
                                <span @click="selectPercent(item,'top')">{{item.val}}%</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row margin0">
                <div class="green-box">
                    <div class="minus" @click="minus(greenCount,'greenCount')">
                        <font-awesome-icon icon="minus"></font-awesome-icon>
                    </div>
                    <div class="green">
                        <div class="total">
                            <span class="i-play"><font-awesome-icon icon="play"></font-awesome-icon></span>
                            <span class="price">Price</span>
                            <span class="count">{{greenCount}}</span>
                            <span class="buy">Buy</span>
                        </div>
                    </div>
                    <div class="plus" @click="plus(greenCount,'greenCount')">
                        <font-awesome-icon icon="plus"></font-awesome-icon>
                    </div>
                </div>
                <div class="hr"></div>
                <div class="red-box">
                    <div class="minus" @click="minus(redCount,'redCount')">
                        <font-awesome-icon icon="minus"></font-awesome-icon>
                    </div>
                    <div class="red">
                        <div class="total">
                            <span class="sell">SELL</span>
                            <span class="price">Price</span>
                            <span class="count">{{redCount}}</span>
                            <span class="i-play"><font-awesome-icon icon="play"></font-awesome-icon></span>
                        </div>
                    </div>
                    <div class="plus" @click="plus(redCount,'redCount')">
                        <font-awesome-icon icon="plus"></font-awesome-icon>
                    </div>
                </div>
            </div>
            <div class="am-footer">
                <div class="row margin0">
                    <div class="col-md-6 padding0">
                        <div class="am-amount">
                            <span class="amount-enter">Enter Amount</span>
                            <input type="text" v-model="bottom_amount">
                            <span class="btc">BTC</span>
                            <span class="amount-count">${{bottom_amount*bottomPercent/100}}</span>
                        </div>
                    </div>
                    <div class="col-md-6 padding0">
                        <div class="am-av-bottom">
                            <span class="av-avaliable">Avaliable for trading:</span>
                            <span class="av-count">B 0.009384</span>
                        </div>
                        <div class="am-percents">
                            <ul class="am-bottom-percent">
                                <li v-for="item in bottom_percent" :key="item.id"
                                    @click="getPercent('bottom', item.val)" :class="{ 'active': item.isActive}">
                                    <span @click="selectPercent(item,'bottom')">{{item.val}}%</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Amount",
        data() {
            return {
                tabs: [
                    {
                        name: 'Market',
                        isActive: true
                    },
                    {
                        name: 'Limit',
                        isActive: false
                    },
                    {
                        name: 'Stop-limit',
                        isActive: false
                    }
                ],
                activeName: 'Market',
                greenCount: '16,150.00',
                redCount: '16,150.00',
                percents: [
                    {
                        val: 25,
                        isActive: false
                    },
                    {
                        val: 50,
                        isActive: false
                    },
                    {
                        val: 75,
                        isActive: false
                    },
                    {
                        val: 100,
                        isActive: true
                    }
                ],
                top_percent: [],
                bottom_percent: [],
                topPercent: 100,
                bottomPercent: 100,
                top_amount: 0,
                bottom_amount: 0,
            }
        },
        created: function () {
            setTimeout(() => {
                this.top_percent = JSON.parse(JSON.stringify(this.percents));
                this.bottom_percent = JSON.parse(JSON.stringify(this.percents));
            }, 1000)
        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                    this.activeName = selectedTab.name
                });
            },
            selectPercent(selectedTab, position) {
                if (position === 'top') {
                    this.top_percent.forEach(item => {
                        item.isActive = (item.val === selectedTab.val);
                    });
                } else {
                    this.bottom_percent.forEach(item => {
                        item.isActive = (item.val === selectedTab.val);
                    });
                }
            },
            plus(number, name) {
                let count = number.split(',');

                this.num = parseInt(count[1]) + 50;
                if (this.num !== 1000) {
                    this[name] = count[0] + ',' + this.num + '.00';
                } else {
                    this.countnum = parseInt(count[0]) + 1;
                    this[name] = this.countnum + ',' + '000' + '.00';
                }
            },
            getPercent(position, val) {
                if (position === 'top') {
                    this.topPercent = val;
                } else {
                    this.bottomPercent = val;
                }
            },
            minus(number, name) {
                let count = number.split(',');

                this.num = parseInt(count[1]) - 50;
                if (this.num === -50) {
                    this.countnum = parseInt(count[0]) - 1;
                    this[name] = this.countnum + ',' + '950' + '.00';
                } else {
                    this[name] = count[0] + ',' + this.num + '.00';
                }
            },
        }
    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";

    .component-amount {
        .plus, .minus {
            cursor: pointer
        }
        .am-content {
            background: $bg_amount;
            .free {
                padding-left: 15px;
                color: $color_amountdart;
                font-size: 11px;
                margin: 10px 0 20px 0;
                display: inline-block;
            }
            .am-av-top {
                top: -20px;
                position: relative;
                text-align: end;
                padding-right: 15px;
                span {
                    display: block;
                }
                .av-avaliable {
                    color: $color_amountdart;
                    font-size: 11px;
                    text-transform: uppercase;
                }
                .av-count {
                    color: $color_blue;
                    font-size: 16px;
                }
            }
            .am-av-bottom {
                position: relative;
                text-align: end;
                padding-right: 15px;
                top: -20px;
                span {
                    display: block;
                }
                .av-avaliable {
                    color: $color_amountdart;
                    font-size: 11px;
                    text-transform: uppercase;
                }
                .av-count {
                    color: $color_blue;
                    font-size: 16px;
                }
            }
            .am-percents {
                ul.am-top-percent {
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                        display: inline-block;
                        color: $color_amountdart;
                        font-size: 14px;
                        padding-right: 7px;
                        cursor: pointer;
                        &.active {
                            color: $color_blue;
                        }
                    }
                }
                ul.am-bottom-percent {
                    padding-left: 0;
                    margin-bottom: 0;
                    li {
                        display: inline-block;
                        color: $color_amountdart;
                        font-size: 14px;
                        padding-right: 7px;
                        cursor: pointer;
                        &.active {
                            color: $color_blue;
                        }
                    }
                }
            }

        }
        .amount-tabs {
            .col-md-4 {
                display: inline-block;
                text-align: center;
                padding: 20px;
                font-size: 11px;
                text-transform: uppercase;
                border-right: 1px solid rgb(10, 45, 75);
                background: rgb(23, 66, 98);
                color: $color_blue;
                cursor: pointer;
                &.active {
                    background: rgb(21, 39, 59);
                    color: $color_grey;
                }
            }
        }
        .am-footer {
            padding: 10px 0 20px 0;
        }
        .am-amount {
            padding-left: 15px;
            span {
                color: $light_blue;
            }
            input {
                width: 85%;
                background: none;
                border: none;
                border-bottom: 1px solid $light_blue;
                color: $color_blue;
                font-size: 21px;
                display: inline-block
            }
            .btc {
                position: absolute;
                right: 25px;
                top: 35px;
                font-size: 14px;
            }
            .amount-count {
                display: block;
                font-size: 14px;
            }
            .amount-enter {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
        .hr {
            display: inline-block;
            width: 65%;
            height: 2px;
            background: rgb(18, 34, 47);
            margin: 20px auto;
            box-shadow: 0px -1px 3px rgb(11, 27, 40);
        }
        .green-box {
            margin: 20px auto 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .plus {
                border: 1px solid $color_green;
                height: 30px;
                width: 30px;
                text-align: center;
                display: inline-block;
                border-radius: 25px;
                .fa-plus {
                    color: $color_green;
                }
            }
            .minus {
                border: 1px solid $color_green;
                height: 30px;
                width: 30px;
                text-align: center;
                display: inline-block;
                border-radius: 25px;
                .fa-minus {
                    color: $color_green;
                }
            }
            .green {
                border: 5px solid $color_green;
                height: 150px;
                width: 150px;
                border-radius: 150px;
                text-align: center;
                margin: 0 20px;
                span {
                    display: block;
                    color: $color_green;
                }
                .total {
                    text-transform: uppercase;
                    top: 10%;
                    position: relative;
                    .fa-play {
                        transform: rotate(-90deg);
                    }
                    .i-play {
                        margin-bottom: 5px;
                    }
                    .price {
                        color: $color_dark_green;
                        font-size: 11px;
                    }
                    .buy {
                        margin-top: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
        .red-box {
            margin: 0 auto 20px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            .red {
                border: 5px solid $color_pink;
                height: 150px;
                width: 150px;
                border-radius: 150px;
                text-align: center;
                margin: 0 20px;
                span {
                    display: block;
                    color: $color_red;
                }
                .total {
                    text-transform: uppercase;
                    top: 10%;
                    position: relative;
                    .fa-play {
                        transform: rotate(90deg);
                    }
                    .i-play {
                        margin-top: 5px;
                    }
                    .price {
                        color: $color_dark_red;
                        font-size: 11px;
                    }
                    .sell {
                        margin-bottom: 10px;
                        cursor: pointer;
                    }
                }
            }
            .plus {
                border: 1px solid $color_red;
                height: 30px;
                width: 30px;
                text-align: center;
                display: inline-block;
                border-radius: 25px;
                .fa-plus {
                    color: $color_red;
                }
            }
            .minus {
                border: 1px solid $color_red;
                height: 30px;
                width: 30px;
                text-align: center;
                display: inline-block;
                border-radius: 25px;
                .fa-minus {
                    color: $color_red;
                }
            }

        }
    }
</style>