<template>
    <div class="component-currency">

        <div class="currency_menu">
            <ul>
                <li v-for="tab in tabs" :class="{ 'active': tab.isActive }" :key="tab.id">
                    <span @click="selectTab(tab)">{{ tab.name }}</span>
                </li>
            </ul>
        </div>
        <div class="currency_search">
            <font-awesome-icon icon="search"></font-awesome-icon>
            <input type="text"  v-model="search" >
        </div>

        <div class="currency_sort">
            <div class="sort_icon"><font-awesome-icon icon="star"></font-awesome-icon></div>
            <div class="sort_change" @click="sort('name')">24h change <font-awesome-icon icon="sort"></font-awesome-icon></div>
            <div class="sort_volume" @click="sort('number_percent')">24h volume <font-awesome-icon icon="sort"></font-awesome-icon></div>
        </div>
        <div class="currency_items">
            <perfect-scrollbar>
                <ul v-if="activeName === 'BTC'">
                    <li v-for="item in sortedCats" :key="item.id">
                        <div class="row margin0">
                            <div class="col-md-4 padding0">
                                <div class="currency_item_left">
                                    <img :src="item.icon" alt="icon">
                                    <div class="name">{{item.name}}</div>
                                    <div class="title">{{item.title}}</div>
                                </div>
                            </div>
                            <div class="col-md-8 padding0">
                                <div class="currency_item_right">
                                    <div class="number-percent">{{item.number_percent}}</div>
                                    <div class="number-delay">{{item.number_delay}}</div>
                                    <div class="number-vol"><span>vol.</span><span>{{item.number_vol}} BTC</span></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
    </div>
</template>

<script>
    import {PerfectScrollbar} from 'vue2-perfect-scrollbar'
    export default {
        name: "Currency",
        props: ['items'],
        components: {
            PerfectScrollbar
        },
        data() {
            return {
                tabs: [
                    {
                        name : 'BTC',
                        isActive: true
                    },
                    {
                        name: 'ETH',
                        isActive: false
                    },
                    {
                        name: 'EUR',
                        isActive: false
                    },
                    {
                        name: 'USDT',
                        isActive: false
                    }
                ],
                activeName: 'BTC',
                data: [],
                search: '',
                currentSort:'name',
                currentSortDir:'asc'
            }
        },
        created: function () {
            setTimeout(() =>
            {
                this.data = this.items;
            }, 1000)
        },
        computed:{
            sortedCats:function() {
                if (!this.search) {
                return this.data.sort((a,b) => {
                    let modifier = 1;
                    if(this.currentSortDir === 'desc') modifier = -1;
                    if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
                } else {
                    return this.data.filter(post => {
                        return post.name.toLowerCase().includes(this.search.toLowerCase())
                    })
                }

            }
        },
        methods: {
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                    this.activeName = selectedTab.name
                });
            },
            sort:function(s) {
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                }
                if(s) {
                    this.currentSort = s;
                }

            },
        },
    }

    //TODO Remove data and return it in app vue

</script>

<style lang="scss">
    @import "~vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css";
    @import "../../assets/scss/variables";
    .component-currency {
        background: rgb(21, 39, 59);
        position: fixed;
        height: 100%;
        width: 11.3%;
        .currency_menu {
            ul {
                border-bottom: 1px solid #283a4e;
                text-align: center;
                padding-left: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                li {
                    display: flex;
                    padding: 10px;
                    &.active {
                        border-bottom: 2px solid $color_blue;
                        span {
                            color: $color_blue;
                            font-weight: bold;
                        }
                    }
                    span {
                        color: $color_bdark;
                        font-size: 14px;
                        cursor: pointer;
                        &:hover {
                            color: $color_blue;
                            text-decoration: none;
                        }
                    }

                }
            }
        }
        .currency_search {
            border-bottom: 1px solid #283a4e;
            padding-bottom: 10px;
            input {
                background: #15273b;
                border: none;
                padding-left: 10px;
                color: #ddf0ff;
                display: inline-block;
                width: 83%;
            }
            .fa-search {
                color: #ddf0ff;
                font-size: 22px;
                margin-left: 10px;
            }
        }
        .currency_sort {
            padding: 10px 0 15px 0;
            border-bottom: 1px solid #283a4e;
            .sort_icon {
                color: $color_blue;
                display: inline-block;
                padding-left: 10px;
                padding-right: 20px;
                font-size: 11px;
            }
            .sort_change {
                display: inline-block;
                color: $color_bdark;
                text-transform: uppercase;
                font-size: 9px;
                padding-right: 20px;
                cursor: pointer;
            }
            .sort_volume {
                display: inline-block;
                color: $color_bdark;
                text-transform: uppercase;
                font-size: 9px;
                cursor: pointer;
            }
        }
        .currency_items {
            padding-bottom: 50px;
            ul {
                height: 75vh;
                padding-left: 0;
                li {
                    padding: 10px 0 5px 0;
                    border-bottom: 1px solid #283a4e;
                    position: relative;
                    &:before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        background: $color_blue;
                        position: absolute;
                        left: 15px;
                        top: 50%;
                        border-radius: 25px;
                    }
                }
            }
            .currency_item_left {
                display: inline-block;
                padding-left: 40px;
                img {
                    max-width: 24px;
                    height: auto;
                }
                .name {
                    color: #758897;
                    font-size: 11px;
                }
                .title {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 11px;
                    font-weight: bold
                }

            }
            .currency_item_right {
                padding-left: 30px;
                display: inline-block;
                position: relative;
                right: 0;
                .number-percent {
                    color: #adf233;
                    font-size: 14px
                }
                .number-delay {
                    color: #fff;
                    font-size: 12px;
                }
                .number-vol {
                    color: #758897;
                    font-size: 11px;
                }

            }
        }

    }
</style>