<template>
    <div class="component-header">
        <div class="row margin0">
            <div class="col-md-6 padding0">
                <div class="logo_left"><a href="#">LOGO</a></div>
            </div>
            <div class="col-md-6 padding0">
                <div class="row margin0">
                    <div class="col-md-2 padding0">
                        <div class="funds">
                            <div class="dropdown">
                                <span class="dropdown-toggle" v-on:click="funds = !funds">Funds
                                    <span class="caret"></span></span>
                                <ul class="dropdown-menu-x" v-if="!funds">
                                    <li><a href="#">demo1</a></li>
                                    <li><a href="#">demo2</a></li>
                                    <li><a href="#">demo3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 padding0">
                        <div class="he-values">
                            <ul>
                                <li v-for="item in cost" :key="item.id">
                                    <span class="val_name">{{item.name}}</span>
                                    <span class="val_count">{{item.value}}</span>
                                </li>
                                <li>
                                    <div class="dropdown">
                                <span class="dropdown-toggle bottom" v-on:click="avalible = !avalible">
                                    <span class="caret"></span></span>
                                        <ul class="dropdown-menu-x" v-if="!avalible">
                                            <li><a href="#">demo1</a></li>
                                            <li><a href="#">demo2</a></li>
                                            <li><a href="#">demo3</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-md-3 padding0">
                        <div class="preson-info">
                            <div class="dropdown">
                                <div class="dropdown-toggle top" v-on:click="user = !user">
                                    <div class="name">Daniel Daniel</div>
                                    <span class="time">09:54:40</span>
                                    <span class="date">AUG 11, 2007</span>
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu-x" v-if="!user">
                                    <li><a href="#">demo1</a></li>
                                    <li><a href="#">demo2</a></li>
                                    <li><a href="#">demo3</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 padding0">
                        <div class="lang_flag">
                            <div class="img"><img src="/icons/british.svg" alt="usa"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Header",
        props: ['cost'],
        data() {
            return {
                funds: true,
                user: true,
                avalible: true,
            }
        }

    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";

    .component-header {
        background: rgb(25, 52, 69);
        padding: 10px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .dropdown-toggle {
            &.bottom {
                &:after {
                    vertical-align: bottom;
                }
            }
            &.top {
                &:after {
                    vertical-align: top;
                }
            }
            &.portmone {
                &:after {
                    color: $color_blue;
                }
            }
        }
        .dropdown-menu-x {
            background: rgba(21, 39, 59, 0.76);
            border: none;
            padding: 10px !important;
            position: absolute;
            display: block !important;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            min-width: 10rem;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: rgb(33, 37, 41);
            text-align: left;
            list-style: none;
            background-clip: padding-box;
            border-radius: .25rem;
            li {
                display: block;
                line-height: 1.5;
            }
            a {
                color: white;
                font-size: 12px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .logo_left {
            a {
                color: white;
                font-size: 26px;
                font-weight: bold;
                margin-left: 20px;
            }
        }
        .funds {
            position: absolute;
            top: 10px;
            .icon {
                margin-left: 10px;
                color: $color_bdark;
            }
        }
        .he-values {
            ul {
                padding-left: 0;
                border-right: 1px solid rgb(114, 133, 148);
                display: flex;
                li {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                    span {
                        display: block;
                    }
                    .val_name {
                        font-size: 9px;
                        text-transform: uppercase;
                        color: $color_bdark;
                    }
                    .val_count {
                        font-size: 16px;
                    }
                    .icon {
                        position: absolute;
                        top: 10px;
                        color: $color_bdark;
                    }
                }
            }
        }
        .lang_flag {
            .img {
                position: absolute;
                top: 10px;
            }
            img {
                max-width: 35px;
                height: auto;
            }
        }
        .preson-info {
            padding-left: 20px;
            .name {
            }
            .time {
                font-size: 11px;
                padding-right: 10px;
            }
            .date {
                font-size: 9px;
                color: $color_bdark;
                padding-right: 10px;
            }
            .icon {
                position: absolute;
                top: 10px;
                color: $color_bdark;
            }

        }

    }
</style>