<template>
    <div class="component-history">
        <div class="hi-tabs">
            <ul>
                <li v-for="tab in tabs" :class="{ 'active': tab.isActive }" :key="tab.id">
                    <span @click="selectTab(tab)">{{ tab.name }}</span>
                </li>
            </ul>
        </div>
        <div class="table margin0">
            <div class="hi-table">
                <table>
                    <thead>
                    <tr>
                        <th>Pair</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Side</th>
                        <th>Price</th>
                        <th>Current price</th>
                        <th>Stop loss</th>
                        <th>Take Profit</th>
                        <th>Amount</th>
                        <th>Total</th>
                        <th>Filled %</th>
                        <th>Trigger condition</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody  v-if="activeName === 'Open Orders'">
                    <tr v-for="(item,index) in history" :key="item.id">
                        <td class="pair"><img :src="'/icons/'+checkCoin(item.pair_icon)" alt="">{{item.pair}}/BTC</td>
                        <td>{{item.date}}</td>
                        <td>{{item.type}}</td>
                        <td>
                            <span v-if="item.side === 'Sell'" class="red">{{item.side}}</span>
                            <span v-if="item.side === 'Buy'" class="green">{{item.side}}</span>
                        </td>
                        <td>{{item.price}}</td>
                        <td>
                            <span v-if="item.side === 'Buy'" class="red">{{item.current_price}}</span>
                            <span v-if="item.side === 'Sell'" class="green">{{item.current_price}}</span>
                        </td>
                        <td>{{item.stop_loss}}</td>
                        <td>{{item.take_porofit}}</td>
                        <td class="amount">{{item.amount}} <span class="label">xrp</span></td>
                        <td class="total">{{item.total}} <span class="label">BTC</span></td>
                        <td class="filled">{{item.filled_percent}}% {{item.filled_count}} <span class="label">{{item.filled_label}}</span>
                        </td>
                        <td>{{item.trigger_conditions}}</td>
                        <td>
                            <div class="cancel" v-on:click="history.splice(index, 1)">Cancel</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "History",
        props: ['history'],
        data() {
            return {
                icons: {
                    bitcoin: 'bitcoin.png',
                    monero: 'monero.png',
                    litecoin: 'litecoin.png',
                    dash: 'dash.png',
                    ripple: 'ripple.png',
                },
                tabs: [
                    {
                        name : 'Open Orders',
                        isActive: true
                    },
                    {
                        name: 'Order History',
                        isActive: false
                    },
                    {
                        name: 'Trade History',
                        isActive: false
                    }
                ],
                activeName: 'Open Orders',
            }
        },
         methods: {
            checkCoin: function (coin) {
                return this.icons[coin];
            },
            selectTab(selectedTab) {
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name === selectedTab.name);
                    this.activeName = selectedTab.name
                });
            }
        }
    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";

    .component-history {
        background: rgb(25, 52, 69);
        .red {
            color: $color_red;
        }
        .green {
            color: $color_green;
        }
        .hi-tabs {
            background: rgb(21, 39, 59);
            ul {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    padding: 10px;
                    cursor: pointer;
                    color: $color_bdark;
                    font-size: 14px;
                    text-transform: uppercase;
                    &.active {
                        border-bottom: 2px solid $color_blue;
                        color: $color_blue;
                        font-weight: bold;
                    }
                    &:hover {
                        color: $color_blue;
                        text-decoration: none;
                    }
                }
            }
        }
        .hi-table {
            table {
                width: 100%;
                td, th {
                    padding: 10px;
                }
                thead {
                    border-top: 1px solid $color_th;
                    border-bottom: 1px solid $color_th;
                    th {
                        background: rgb(21, 39, 59);
                        color: $color_th;
                        font-weight: normal;
                        font-size: 11px;
                        text-transform: uppercase;
                        border: none;
                        &:first-of-type {
                            text-transform: none;
                        }
                    }
                }
                tbody {
                    td {
                        color: $color_bdark;
                        border-top: none;
                        border-bottom: 1px solid $color_th;
                        padding-right: 0;
                        font-size: 11px;
                    }
                    .amount {
                        .label {
                            font-size: 11px;
                        }
                    }
                    .total {
                        .label {
                            font-size: 11px;
                        }
                    }
                    .filled {
                        .label {
                            font-size: 11px;
                        }
                    }
                    .pair {
                        img {
                            max-width: 30px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            .cancel {
                padding: 5px 15px;
                border: 1px solid;
                text-align: center;
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }

</style>