<template>
    <div class="component-last-trades">
        <div class="trades-table">
            <div class="row margin0">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th scope="col" class="padding0">
                            <span class="last-trades">Last Trades</span>
                            <span>Last price</span>
                        </th>
                        <th scope="col" class="padding0"><span>Time stamp</span></th>
                        <th scope="col" class="padding0">
                            <span class="expend" @click="sort('amount')">Expend</span>
                            <font-awesome-icon icon="play"></font-awesome-icon>
                            <span>Amount</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="item in sorted" :key="item.id">
                        <td>{{item.last_price}}</td>
                        <td>{{item.time_stamp}}</td>
                        <td>{{item.amount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LastTrades",
        props: ['last_trades'],
        data() {
            return {
                lastTrades: [],
                currentSort: 'name',
                currentSortDir: 'asc',
            }
        },
        created: function () {
            setTimeout(() => {
                this.lastTrades = JSON.parse(JSON.stringify(this.last_trades));
            }, 1000)
        },
        computed: {
            sorted: function () {
                return this.lastTrades.sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
        },
        methods: {
            sort: function (s) {
                if (s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                }
                if (s) {
                    this.currentSort = s;
                }
            },
        },
    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";

    .component-last-trades {
        .table {
            overflow: hidden;
            tr, td, th {
                border: none;
            }
        }
        .last-trades {
            color: $color_bdark;
            font-size: 11px;
            text-transform: uppercase;
            display: block;
        }
        .expend {
            color: $color_blue_white;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: normal;
            cursor: pointer;
        }
        .fa-play {
            color: $color_bdark;
            font-size: 6px;
            transform: rotate(90deg);
            margin-left: 3px;
        }

        .trades-table {
            padding: 0 10px;
            .col-md-6 {
                &:last-of-type {
                    text-align: right;
                }
            }
            th {
                &:first-of-type {
                    color: $color_bdark;
                    font-size: 9px;
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    color: $color_bdark;
                    font-size: 9px;
                    text-transform: uppercase;
                }
                &:last-of-type {
                    color: $color_grey;
                    font-size: 9px;
                    text-transform: uppercase;
                    text-align: right;
                }
            }
            tr {
                td {
                    padding: 0 43px 0 0;
                    font-size: 13px;
                    &:first-of-type {
                        color: $color_green;
                    }
                    &:nth-child(2) {
                        color: $white;
                    }
                    &:last-of-type {
                        color: $white;
                        padding: 0;
                        text-align: right;
                    }
                }
            }
        }
    }
</style>