<template>
    <div class="component-portfolio-value">
        <div class="po-head">
            <div class="title">Current portfolio value</div>
            <div class="price"><span class="count symbol">$</span><span class="count num">36,000.</span><span
                    class="count minnum">00</span></div>
            <span class="icon" v-on:click="portmone = !portmone"><img src="../../assets/img/wallet.svg" alt="">
                     <span class="dropdown">
                                <span class="dropdown-toggle portmone">
                                    <span class="caret"></span></span>
                                        <ul class="dropdown-menu-x" v-if="!portmone">
                                            <li><a href="#">demo1</a></li>
                                            <li><a href="#">demo2</a></li>
                                            <li><a href="#">demo3</a></li>
                                        </ul>
                                    </span>
            </span>
        </div>
        <div class="po-profit">
            <div class="row margin0">
                <div class="col-md-6 padding0">
                    <span class="total">Total profit</span>
                    <span class="price"><i>$</i>{{profit_count}}</span>
                </div>
                <div class="col-md-6 padding0">
                    <span class="total">Total profit</span>
                    <span class="price">{{profit_percent}}<i>%</i></span>
                </div>
            </div>
        </div>
        <div class="po-table">
            <div class="po-sellers">
                <div class="row margin0">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th scope="col" class="padding0">
                                <span class="sellers">Sellers</span>
                                <span>Price(USD)</span>
                            </th>
                            <th scope="col" class="padding0"><span>Amount(EUR)</span></th>
                            <th scope="col" class="padding0">
                                <span class="expend" @click="sort('total')">Expend</span>
                                <font-awesome-icon icon="play"></font-awesome-icon>
                                <span>Total(USD)</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in sorted_sellers" :key="item.id">
                            <td>{{item.price}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="po-total">
                <span class="count">1.255674</span>
                <span class="icon"><font-awesome-icon icon="play"></font-awesome-icon></span>
            </div>
            <div class="po-buyers">
                <div class="row margin0">
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th scope="col" class="padding0"><span>Buyers</span></th>
                            <th scope="col" class="padding0"><span></span></th>
                            <th scope="col" class="padding0" @click="sort('total', 'bottom')"><span class="expend">Expend</span>
                                <font-awesome-icon icon="play"></font-awesome-icon>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in sorted_buyers" :key="item.id">
                            <td>{{item.price}}</td>
                            <td>{{item.amount}}</td>
                            <td>{{item.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PortfolioValue",
        props: ['sellers', 'buyers'],
        data() {
            return {
                portmone: true,
                profit_count: '18,150.67',
                profit_percent: '58.67',
                currentSort: 'name',
                currentSortDir: 'asc',
                currentSort2: 'name',
                currentSortDir2: 'asc',
                p_sellers: [],
                p_buyers: [],
            }
        },
        created: function () {
            setTimeout(() =>
            {
                this.p_sellers = JSON.parse(JSON.stringify(this.sellers));
                this.p_buyers = JSON.parse(JSON.stringify(this.buyers));
            }, 1000)
        },
        computed: {
            sorted_sellers: function () {
                return this.p_sellers.sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir === 'desc') modifier = -1;
                    if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                    if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                    return 0;
                });
            },
            sorted_buyers: function () {
                return this.p_buyers.sort((a, b) => {
                    let modifier = 1;
                    if (this.currentSortDir2 === 'desc') modifier = -1;
                    if (a[this.currentSort2] < b[this.currentSort2]) return -1 * modifier;
                    if (a[this.currentSort2] > b[this.currentSort2]) return 1 * modifier;
                    return 0;
                });
            }
        },
        methods: {
            sort:function(s, type) {
                if (type !== 'bottom') {
                    if (s === this.currentSort) {
                        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                    }
                    if (s) {
                        this.currentSort = s;
                    }
                } else {
                    if (s === this.currentSort2) {
                        this.currentSortDir2 = this.currentSortDir2 === 'asc' ? 'desc' : 'asc';
                    }
                    if (s) {
                        this.currentSort2 = s;
                    }
                }

            },
        },

    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";

    .component-portfolio-value {
        .dropdown-toggle {
            &.portmone {
                &:after {
                    color: $color_blue;
                }
            }
        }
        .expend {
            color: $color_blue_white;
            font-size: 9px;
            text-transform: uppercase;
            font-weight: normal;
            cursor: pointer;
        }
        .dropdown-menu-x {
            background: rgba(21, 39, 59, 0.76);
            border: none;
            padding: 10px !important;
            position: absolute;
            display: block !important;
            top: 100%;
            right: 0;
            z-index: 1000;
            float: left;
            min-width: 10rem;
            margin: .125rem 0 0;
            font-size: 1rem;
            color: rgb(33, 37, 41);
            text-align: left;
            list-style: none;
            background-clip: padding-box;
            border-radius: .25rem;
            li {
                display: block;
                line-height: 1.5;
            }
            a {
                color: white;
                font-size: 12px;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .table {
            overflow: hidden;
            tr, td, th {
                border: none;
            }
        }
        .po-head {
            display: block;
            position: relative;
            padding: 10px 0 20px 10px;
            .title {
                display: block;
                color: $white;
                text-transform: uppercase;
                font-size: 10px;
            }
            .price {
                display: inline-block;
                color: $color_blue;
            }
            .count {
                &.symbol {
                }
                &.num {
                    font-size: 26px
                }
                &.minnum {
                }
            }
            .icon {
                padding-left: 70px;
                vertical-align: top;
                img {
                    max-width: 30px;
                    height: auto;
                }
                .fa-play {
                    color: $color_blue;
                    font-size: 8px;
                    margin-left: 5px;
                    transform: rotate(90deg);
                }
            }
        }
        .po-profit {
            padding: 0 0 20px 10px;
            .total {
                display: block;
                color: $color_bdark;
                font-size: 9px;
                text-transform: uppercase;
            }
            .price {
                display: block;
                color: $color_green;
                font-size: 21px;
            }
        }

        .po-table {
            padding: 0 10px;
            .po-sellers {
                .col-md-6 {
                    &:last-of-type {
                        text-align: right;
                    }
                }
                .fa-play {
                    color: $color_bdark;
                    font-size: 6px;
                    transform: rotate(90deg);
                    margin-left: 3px;
                }
                .sellers {
                    color: $color_red;
                    text-transform: uppercase;
                    font-size: 12px;
                    display: block;
                }

                th {
                    color: $color_bdark;
                    font-size: 9px;
                    text-transform: uppercase;
                    &:last-of-type {
                        text-align: right;
                    }
                }
                tr {
                    td {
                        padding: 0 18px 0 0;
                        font-size: 13px;
                        &:first-of-type {
                            color: $color_red;
                        }
                        &:nth-child(2) {
                            color: $white;
                        }
                        &:last-of-type {
                            color: $white;
                            padding: 0;
                            text-align: right;
                        }

                    }
                }
            }
            .po-total {
                color: $color_green;
                text-align: center;
                .count {
                    padding-right: 10px;
                    font-size: 21px;
                }
                .icon {
                    .fa-play {
                        transform: rotate(-90deg);
                    }

                }
            }
            .po-buyers {
                th {
                    &:first-of-type {
                        color: $color_green;
                        font-size: 12px;
                        text-transform: uppercase;
                    }
                    &:last-of-type {
                        color: $color_bdark;
                        font-size: 9px;
                        text-transform: uppercase;
                        text-align: right;
                        .fa-play {
                            color: $color_bdark;
                            font-size: 6px;
                            transform: rotate(90deg);
                            margin-left: 3px;
                        }
                    }
                }
                tr {
                    td {
                        padding: 0 25px 0 0;
                        font-size: 13px;
                        &:first-of-type {
                            color: $color_green;
                        }
                        &:nth-child(2) {
                            color: $white;
                        }
                        &:last-of-type {
                            color: $white;
                            padding: 0;
                        }

                    }
                }

            }
        }

    }
</style>