<template>
    <div class="component-statistic">
        <div class="st-header">
            <div class="row margin0">
                <div class="col-md-8 padding0">
                    <div class="st-col st-menu">
                        <font-awesome-icon icon="th-large"></font-awesome-icon>
                    </div>
                    <div class="st-col st-icon"><img src="/icons/bitcoin.png" alt=""></div>
                    <div class="st-col st-curr">BTC/USD</div>
                    <div class="st-col st-count">
                        <span>9,890.30</span>
                        <span class="icon_play"><font-awesome-icon icon="play"></font-awesome-icon></span>
                    </div>
                    <div class="st-col st-info">
                        <font-awesome-icon icon="info"></font-awesome-icon>
                    </div>
                </div>
                <div class="col-md-4 padding0">
                    <div class="st-head-val">
                        <ul>
                            <li v-for="item in head" :key="item.id">
                                <span class="name">{{item.name}}</span>
                                <span class="value">{{item.value}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="st-stat">
            <line-chart></line-chart>
        </div>
    </div>
</template>

<script>
    Chart.defaults.global.legend.display = false;
    Chart.defaults.global.tooltips.enabled = false;

    import LineChart from '../../assets/js/LineChart'

    export default {
        name: "Statistic",
        props: ['head'],
        components: {
            LineChart,
        },
        data() {
            return {

            }
        },

    }
</script>

<style lang="scss">
    @import "../../assets/scss/variables";
    #line-chart {
        height: 637px!important;
    }
    .component-statistic {
        .st-stat {
            background: #212733;
            box-shadow: 0px 2px 15px rgba(25, 25, 25, 0.27);
        }

        .st-stat h2 {
            margin-top: 0;
            padding: 15px 0;
            color: rgba(255, 0, 0, 0.5);
            border-bottom: 1px solid #323d54;
        }

        .st-header {
            padding: 10px;
            background: #174262;
            .st-col {
                display: inline-block;
                vertical-align: middle;
            }
            .st-menu {
                color: rgb(124, 195, 215);
                font-size: 26px;
                padding: 0 20px;
                opacity: .6;
            }
            .st-icon {
                padding-right: 20px;
                img {
                    max-width: 30px;
                    height: auto;
                }
            }
            .st-curr {
                color: white;
                padding-right: 20px;
                font-size: 24px;
                font-weight: bold;
            }
            .st-info {
                .fa-info {
                    color: rgb(124, 195, 215);
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    border: 1px solid rgb(124, 195, 215);
                    padding: 5px;
                }
            }
            .st-count {
                padding-right: 20px;
                span {
                    color: rgb(164, 249, 42);
                    padding-right: 20px;
                }
                .fa-play {
                    transform: rotate(-90deg);
                    color: rgb(164, 249, 42);
                }
            }
            .st-head-val {
                ul {
                    padding-left: 0;
                    margin-bottom: 0;
                    display: flex;
                    justify-content: flex-end;
                    border-left: 1px solid  $border_color;
                    li {
                        display: flex;
                        flex-direction: column;
                        margin-right: 30px;
                        span {
                            display: block;
                        }
                        &:last-of-type {
                            margin-right: 0;
                        }
                        .name {font-size: 11px;color:#7b9fb9}
                        .value {font-size: 16px; color:white;}
                    }
                }
            }
        }

    }
</style>