<template>
    <div id="app">
        <div class="container-fluid padding0">
            <div class="row margin0">
                <div class="col-md-10 col-md-10-x padding0">
                    <div class="row margin0">
                        <div class="col-md-12 padding0">
                            <Header :cost="header_cost"></Header>
                        </div>
                    </div>
                    <div class="row margin0">
                        <div class="col-md-2 col-md-2-x padding0">
                            <Currency :items="curr_items"></Currency>
                        </div>
                        <div class="col-md-10-x padding0">
                            <div class="row margin0">
                                <div class="col-md-9 col-md-9-x padding0">
                                    <Statistic :head="stat_head_data"></Statistic>
                                </div>
                                <div class="col-md-3 col-md-3-x padding0">
                                    <Amount></Amount>
                                </div>
                            </div>
                            <div class="row margin0">
                                <div class="col-md-12 padding0">
                                    <History :history="history"></History>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-md-2-x padding0">
                    <div class="right-side">
                        <div class="row margin0">
                            <div class="col-md-12 padding0">
                                <PortfolioValue :sellers="portfolio_sellers"
                                                :buyers="portfolio_buyers"></PortfolioValue>
                            </div>
                        </div>
                        <div class="row margin0">
                            <div class="col-md-12 padding0">
                                <LastTrades :last_trades="last_trades"></LastTrades>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Amount from './components/parts/Amount.vue'
    import Currency from './components/parts/Currency.vue'
    import Header from './components/parts/Header.vue'
    import History from './components/parts/History.vue'
    import PortfolioValue from './components/parts/PortfolioValue.vue'
    import LastTrades from './components/parts/LastTrades.vue'
    import Statistic from './components/parts/Statistic.vue'

    export default {
        name: 'app',
        components: {
            Header,
            Currency,
            Amount,
            History,
            PortfolioValue,
            LastTrades,
            Statistic,
        },
        data() {
            return {
                curr_items: [],
                history: [],
                portfolio_sellers: [],
                portfolio_buyers: [],
                last_trades: [],
                header_cost: [],
                stat_head_data: [],
            }
        },
        created() {
            let _this_ = this;
            fetch('/data/data.json')
                .then((resp) => resp.json())
                .then(function (data) {
                    _this_.curr_items = data.curr_items;
                    _this_.history = data.open_orders;
                    _this_.portfolio_sellers = data.sellers;
                    _this_.portfolio_buyers = data.buyers;
                    _this_.last_trades = data.last_trades;
                    _this_.header_cost = data.header_cost;
                    _this_.stat_head_data = data.stat_head_data;
                })
        }
    }
</script>

<style>
    @import "~bootstrap/dist/css/bootstrap.min.css";

    .container-fluid {
        overflow: hidden;
        height: 100vh;
        background: rgb(25, 52, 69);
    }

    .padding0 {
        padding: 0 !important;
    }

    .margin0 {
        margin: 0 !important;
    }

    .right-side {
        background: rgb(21, 39, 59);
        position: fixed;
        width: 13%;
        height: 100%;
    }

    .col-md-10-x {
        flex: 0 0 87%;
        max-width: 87%;
    }

    .col-md-2-x {
        flex: 0 0 13%;
        max-width: 13%;
    }

    .col-md-3-x {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .col-md-9-x {
        flex: 0 0 80%;
        max-width: 80%;
    }

</style>
